<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render "form", task: task %>
  <% end %>
  <%= render "form", task: Task.new %>
</div>
